{{ partial "header.html" . }}

<!-- code block highlighting -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<div class="center">
    <title class="center">
        {{ .Params.title }}
    </title>

    {{ if .Params.banner }}
        <div class="banner">
            <img alt="banner image" src="{{.Params.banner}}">
        </div>
    {{ end }}

    <div class="date">
        {{ dateFormat "Monday, Jan 2, 2006" .Params.date }}
    </div>

    <div class="tags">
        {{ range .Params.tags }}
            <div class="tag"><a href="/tags/{{ . | urlize }}/">{{.}}</a></div>
        {{ end }}
    </div>
</div>

<div class="content">
    {{ .Params.content | markdownify }}

    <div class="tilde center">~</div>

    <div id="post-content" class="share centre">
        Please share the ️💻
        {{ $url := htmlEscape .Permalink | absURL }}
        {{ $title := htmlEscape .Title }}
        <div class="center">
            <a target="_blank" href="https://www.facebook.com/sharer.php?u={{ $url }}&p[title]={{ $title }}">
                <img alt="fb logo" src="/images/social/fb.svg"/>
            </a>
            <a target="_blank" href="https://twitter.com/share?text={{ $title }}&url={{ $url }}">
                <img alt="twitter logo" src="/images/social/tw.svg"/>
            </a>
            <a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{ $url }}">
                <img alt="linkedin logo" src="/images/social/li.svg"/>
            </a>
        </div>
    </div>

    <div class="centre tilde">~</div>
</div>

{{ template "_internal/disqus.html" . }}

{{ partial "footer.html" }}