{{ partial "header.html" . }}

<!-- code block highlighting -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<div align="center">
    <title>
        {{ .Params.title }}
    </title>

    <div class="date">
        {{ dateFormat "Monday, Jan 2, 2006" .Params.datestamp }}
    </div>

    <div class="tags">
        {{ range .Params.tags }}
            <div class="tag"><a href="/tags/{{ . | urlize }}/">{{.}}</a></div>
        {{ end }}
    </div>

    <div class="banner">
        <img src="{{.Params.banner}}">
    </div>
</div>

<div class="content">
    {{ .Params.content | markdownify }}

    <div align="center" class="tilde">~</div>

    <div align="center" class="share">
        Feel free to share ❤️
        <p>
            {{ $url := htmlEscape .Permalink | absURL }}
            {{ $title := htmlEscape .Title }}
            <div align="center">
                <a target="_blank" href="https://www.facebook.com/sharer.php?u={{ $url }}&p[title]={{ $title }}">
                    <img src="/images/social/fb.svg"/>
                </a>
                <a target="_blank" href="https://twitter.com/share?text={{ $title }}&url={{ $url }}">
                    <img src="/images/social/tw.svg"/>
                </a>
                <a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{ $url }}">
                    <img src="/images/social/li.svg"/>
                </a>
            </div>
        </p>
    </div>
</div>

{{ template "_internal/disqus.html" . }}

{{ partial "footer.html" }}