<head>
    {{ $isHome := false }}
    {{ with .Page.File }}
        {{ if eq .Path "_index.md" }}
            {{ $isHome = true }}
        {{ end }}
    {{ end }}

    <!-- custom meta -->
    <meta name="description"
          content="{{ if .Params.meta_description }}{{.Params.meta_description}}{{else}}{{ .Params.Meta.description }}{{end}}">
    <title>{{ if .Title }}{{.Title}} | Max{{else}}Maximilian{{end}} Mitchell</title>
    <meta charset="UTF-8">
    {{ if not $isHome }}
        <!-- Open Graph data -->
        <meta property="og:title" content="{{ .Params.title }}"/>
        <meta property="og:type" content="article"/>
        <meta property="og:article:published_time" content="{{ .Params.date }}"/>
        <meta property="og:article:modified_time" content="{{ .Lastmod }}"/>
        <meta property="og:article:section" content="Technology"/>
        {{ range .Params.tags }}
            <meta property="og:article:tag" content="{{.}}"/>
        {{ end }}
        <meta property="og:url" content="{{ .Permalink | absURL }}"/>
        <meta property="og:image" content="{{ .Site.BaseURL }}{{.Params.image}}"/>
        <meta property="og:image:width" content="1200"/>
        <meta property="og:image:height" content="627"/>
        <meta property="og:image:type" content="image/jpeg"/>
        <meta property="og:description" content="{{ .Params.meta_description }}"/>
        <meta property="og:site_name" content="max.me.uk"/>
        <meta property="og:locale" content="en_GB"/>

        <!-- Twitter Card data -->
        <meta name="twitter:site" content="@maxisme">
        <meta name="twitter:creator" content="@maxisme">
    {{ end }}

    <!-- mobile meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="preload stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;600;900&display=swap"
          rel="preload stylesheet">

    <!-- favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- css -->
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.min.css">
</head>

<body>
<div class="full-image">
    <div id='newim' class='full-image'></div>
</div>
<div class="row all-content">
    <div class="col {{ if $isHome }} l4 m7 s12 {{else}} slide-in-on-mobile-blog l4 s8{{end}} sidebar">
        <div align="center">
            <h1><a href="/">Maximilian<br>Mitchell </a></h1>
        </div>
        {{ with .Site.GetPage "_index.md" }}
            <p class="info">{{ .Params.description }}</p>
        {{ end }}
        <div class="row">
            <!-- using https://maxwellito.github.io/vivus-instant/ -->
            <a class="col s6" href="mailto:max@max.me.uk"><img class="ico" src="/images/mail_animated.svg"><br>Email</a>
            <a class="col s6" target="_blank" href="https://github.com/maxisme">
                <img class="ico" src="/images/github_animated.svg">
                <br>GitHub
            </a>
        </div>
        <div class="row">
            <a class="col s6" target="_blank" href="https://www.linkedin.com/in/maxisme">
                <img class="ico"
                     src="/images/linkedin_animated.svg">
                <br>Linked In
            </a>
            <a class="col s6" target="_blank" href="https://stackoverflow.com/story/maxisme">
                <img class="ico"
                     src="/images/stackoverflow_animated.svg">
                <br>StackOverflow
            </a>
        </div>

        <h2><a href="/blog/">Blog Posts</a></h2>

        {{ $foo := 0 }}
        {{ range where .Site.RegularPages "Section" "blog" }}
            {{ $foo = add $foo 1}}
            {{ if lt $foo 4 }}
                <li><a href="{{ .Permalink }}">{{ .Params.title | humanize | title }}</a></li>
            {{ end}}
        {{ end }}
        <li><a href="/blog/">More...</a></li>

        {{ if .Params.projects }}
            <h2>Selected Projects</h2>

            <!--- projects -->
            {{ range .Params.projects }}
                <div class="row valign-wrapper">
                    <div class="col s2 valign">
                        <a target="_blank" href="<?php echo $url?>"><img class="ico"
                                                                         src="{{ .url }}/images/icon.ico"></a>
                    </div>
                    <div class="col s10 valign">
                        <a class="valign" target="_blank" href="{{ .url }}">{{ .name }}</a>
                    </div>
                </div>
            {{ end }}
            <h2>My areas of expertise</h2>
            <p>
                {{ .Params.areas_of_expertise }}
            </p>
            <h2>My extra areas of interest</h2>
            <p>
                {{ .Params.extra_areas_of_interest }}
            </p>

            <h2>Languages & Tools I'm good with</h2>
            <div class="good">
                {{ range .Params.good_tools }}
                    <div class="row valign-wrapper">
                        <div class="col s2">
                            <i class="ico {{ .devicon }}"></i>
                        </div>
                        <div class="col s10 valign">
                            {{ .languages_or_tool }}
                        </div>
                    </div>
                {{ end }}
            </div>

            <h2>Languages & Tools I know</h2>
            <div class="average">
                {{ range .Params.know_tools }}
                    <div class="row valign-wrapper">
                        <div class="col s2">
                            <i class="ico {{ .devicon }}"></i>
                        </div>
                        <div class="col s10 valign">
                            {{ .languages_or_tool }}
                        </div>
                    </div>
                {{ end }}
            </div>

            <h2>Languages & Tools I'm learning</h2>
            <div class="learning">
                {{ range .Params.learning_tools }}
                    <div class="row valign-wrapper">
                        <div class="col s2">
                            <i class="ico {{ .devicon }}"></i>
                        </div>
                        <div class="col s10 valign">
                            {{ .languages_or_tool }}
                        </div>
                    </div>
                {{ end }}
            </div>

            <h2>Languages & Tools I'm not good with</h2>
            <div>
                {{ range .Params.bad_tools }}
                    <div class="row valign-wrapper">
                        <div class="col s2">
                            <i class="ico {{ .devicon }}"></i>
                        </div>
                        <div class="col s10 valign">
                            {{ .languages_or_tool }}
                        </div>
                    </div>
                {{ end }}
            </div>

            <hr>
            {{ safeHTML .Params.blurb }}
            <p>&nbsp;</p>
        {{ end }}
    </div>
    {{ if not $isHome }}
    <!--- blog post -->
    <div id="post" class="col l8 offset-l4 m12 s12">

        <a href="#" data-target="slide-out" class="top-nav sidenav-trigger full hide-on-large-only">
            <i class="material-icons">menu</i>
        </a>
{{end}}